#packageContainer {
  display: flex;
  overflow: auto;
  flex-direction: row;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.btn-check:checked + .card.btn,
:not(.btn-check) + .card.btn:active,
.card.btn:first-child:active,
.card.btn.active,
.card.btn.show {
  color: #0055aa;
  background-color: #fff;
  border-color: #0055aa;
  box-shadow: 0 0 0 2px #0055aa;
}

.btn-check:checked + .card.btn .card-footer .card,
.btn-check:hover + .card.btn .card-footer .card {
  background-color: #fff;
  border-color: #0055aa;
  transition: all 0.15s ease-in-out;
}

#packageContainer .package-card {
  width: 15rem;
}

.place {
  font-size: 0.8rem;
}

.card li {
  list-style: none;
  font-size: 0.75rem;
  margin-left: -2rem;
  margin-bottom: 0.3rem;
}

.fit-content {
  width: fit-content;
}

#itineraryPart .card,
#summaryPart .card
 {
  background-color: #0055aa10;
  border: none;
}

#itineraryPart .card:hover {
    background-color: #0055aa13;
}

.accordion-body input {
  border: 1px solid rgb(220, 220, 220);
  transition: all ease-in-out 0.1s;
}

.accordion-body input:hover {
  background-color: #0055aa03;
}

.accordion-body input:focus {
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0 0 1px 3px rgba(0, 85, 170, 0.5);
}

.accordion-body span {
  top: 0.5rem !important;
  left: 0.5rem !important;
  height: fit-content;
}

.accordion-body .btn-secondary:hover {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.accordion-body .btn-secondary {
  background-color: transparent;
  font-weight: 400;
  border: none;
}

.accordion-body .button-container
 {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -1rem;
}

.accordion-body .icon-container {
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-body .btn-tertiary {
  background-color: #0055aa03;
  border: none;
  border-radius: 50%;
  height: 90%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.accordion-body .btn-tertiary:hover {
  background-color: #c9c6c62b;
  border-radius: 50%;
  height: 90%;
  aspect-ratio: 1;
}

.accordion-body .btn-tertiary:active {
  border-radius: 50%;
  background-color: #c9c6c67d;
  height: 90%;
  aspect-ratio: 1;
}